adjustText==0.7.3
common
# faiss==1.6.3
ipython
joblib==1.0.1
matplotlib==3.3.4
# module
numpy==1.19.5
pandas==1.1.5
Pillow==8.4.0
pretrainedmodels==0.7.4
scikit_learn
scipy==1.5.4
seaborn==0.11.2
tensorboardX==2.4.1
timm==0.4.12
# torch==1.8.1
# torchvision==0.9.1
tqdm==4.61.1